@import "../MahjongGameplay.module.scss";

.container {
  background-color: rgba(0, 0, 0, 0.53);
  border-radius: 5px;
  width: 114px;
  height: 118px;
  padding: 0.5rem 0.8rem;
}

.category {
  @extend .textDarkYellow;
}

.tiles {
  display: flex;
  justify-content: space-between;
}
