.challenge-table tbody > tr {
  border-bottom: 1px solid #dee2e6;
}

#challenge-table-container{

  padding: 4rem 10rem 4rem 10rem;


  @media (max-width:576px) {

    padding: 4rem 1rem 4rem 1rem;
    
  }
}