.header_home_btn, .header_list_btn, .header_summon_btn, .header_ranking_btn {
  transform: scale(0.9);
  &:hover {
    cursor: pointer;
    transform: scale(0.95);
  }
}

.header_home_btn {
  position: absolute;
  top: 10px;
  left: 250px;
}
.header_ranking_btn {
  position: absolute;
  top: 10px;
  left: 350px;
}
.header_summon_btn {
  position: absolute;
  top: 10px;
  right: 350px;
}
.header_list_btn {
  position: absolute;
  top: 11px;
  right: 265px;
}