.container {
  display: flex;
  align-items: center;
  max-width: 900px;
  min-height: 110px;
  overflow-x: auto;
  overflow-y: hidden;

  img {
    transition: 0.2s transform;
    &:nth-child(14) {
      margin-left: auto;
      margin-right: 8px;

      @media (max-width: 768px) {
        margin-left: 20px;
      }
    }

    &:hover {
      transform: scale(1.2);
    }

    @media (max-width: 768px) {
      width: 50px;
      height: 77px;
    }
  }
}

.highlightTile {
  box-shadow: 0px 1px 5px 4px rgba(255, 234, 121, 0.63);
  background-color: #f0b446;
  border: 1px solid #f0b446;
  border-radius: 5px;
}

.wrapper {
  width: 100%;
}
