$primary-color: #161E2F;
$primary-lighter: #242D41;
$primary-darker: #0E141F;

$secondary-color: #1785EB; //sidebar & header text color

$text-primary-color: #79B9F4;
$text-primary-lighter: #9DC8EF;
$text-sub-color: #6A81A4;
$text-sub-secondary-color: #526FA4;