@import "/src/assets/scss/colors.scss";


.games_title{
    padding-left: 16px; //to align with grid items spacing
    font-weight: bolder;
    // text-align: center;
}

.game_card{
    padding: 0;
    border-radius: 0;
    background-color: $primary-lighter;
    color: $text-primary-color;
    height: 300px;

    @media (min-width: 768px) {
        margin: 50px;
    }
    
    @media (min-width: 425px){
        max-width: 312px;
    }

    margin: 10px;

    -webkit-transition: opacity .15s ease-in-out;
    -moz-transition: opacity .15s ease-in-out;
    -ms-transition: opacity .15s ease-in-out;
    -o-transition: opacity .15s ease-in-out;
    transition: opacity .15s ease-in-out;
}

.game_card:hover{
    cursor: pointer;
    opacity: 0.8;

    -webkit-transition: opacity .15s ease-in-out;
    -moz-transition: opacity .15s ease-in-out;
    -ms-transition: opacity .15s ease-in-out;
    -o-transition: opacity .15s ease-in-out;
    transition: opacity .15s ease-in-out;
}

.card p {
    color: $text-sub-color;
}

.game_list{
    justify-content: space-evenly ;
    padding-top: 2rem;
    flex-grow: 1;
    align-items: center;
    margin-left:auto;
    margin-right: auto;
}

.homescreen{
    max-width: 1800px;
    height: 100%;
    margin-left:auto;
    margin-right: auto;
}

.card_content{
    height: 100%;
}

.play_button{
    display: flex;
    position: absolute;
    align-content: center;
    justify-content: center;
}

.card_button{
    
}

.image_button{

}