@import "./src/assets/scss/config";

.parent_container {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
}

.scalable_container {
  margin-top: 30px !important;
  margin-bottom: 20px !important;
  z-index: 10;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  // background-image: url("#{$ASSETS_URL}/imgs/games/ghost_quest/ghost_list/background.jpg");
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.9);
  overflow: hidden;

  .main_container_btm_overlay {
    position: absolute;
    bottom: 0px;
    z-index: 20;
    width: 100%;
    height: 100px;
    background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0),
      rgba(0, 0, 0, 1)
    );
  }

  .header {
    z-index: 20;
    position: absolute;
    top: 0;
    width: calc(100% + 5px);
    height: 112px;
    background-image: url("#{$ASSETS_URL}/imgs/games/ghost_quest/header/header-bg.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;

    .header_home_btn {
      position: absolute;
      top: 10px;
      left: 40px;
    }
    .header_list_btn {
      position: absolute;
      top: 10px;
      left: 150px;
    }
    .header_summon_btn {
      position: absolute;
      top: 14.5px;
      right: 115px;
      width: 130px;
    }
    .header_ranking_btn {
      position: absolute;
      top: 10px;
      right: 30px;
    }
  }
}

.contents {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10;
}

.container_modal {
  z-index: 160;
  position: relative;
  display: flex;
  justify-content: center;
  height: 100%;
  text-align: center;
  & :local {
    animation-name: fadeInDownBig;
    animation-duration: 500ms;
  }

  .container_title {
    position: absolute;
    top: 21%;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: #FEE3A1;
  }

  .contentScrollable {
    position: absolute;
    top: 28%;
    left: 11%;
    width: 471px;
    height: 442px;
    overflow: auto;

    .rulesContent {
      width: 100%;
      height: 100%;
    }
  }

  .contentScrollable::-webkit-scrollbar {
    width: 17px;
    background-color: #8a4338;
  }
  .contentScrollable::-webkit-scrollbar:horizontal {
    height: 17px;
  }
  .contentScrollable::-webkit-scrollbar-track {
    border: 3px #5d1b0e solid;
    box-shadow: 0 0 6px #5d1b0e inset;
    -webkit-box-shadow: 0 0 6px #5d1b0e inset;
  }
  .contentScrollable::-webkit-scrollbar-thumb {
    background-color: #695a6a;
    border: 1px solid #000000;
    border-radius: 3px;
    box-shadow: 7px 6px 1px #594858 inset;
    -webkit-box-shadow: 7px 6px 1px #594858 inset;
  }
  .contentScrollable::-webkit-scrollbar-thumb:hover {
    background-color: #6f6470;
    border: 1px solid #333333;
  }
  .contentScrollable::-webkit-scrollbar-thumb:active {
    border: 1px solid #000000;
  }
}

.leftSideNav {
  position: absolute;
  padding-left: 80px;
  padding-right: 10px;
  top: 140px;
  left: 0px;
  display: flex;
  flex-direction: column;
  background: linear-gradient(270deg, rgba(63, 44, 66, 0.7) 0.07%, rgba(63, 44, 66, 0) 96.95%);
  div {
    transform: scale(0.9);
  }
}

.rightSideNav {
  position: absolute;
  padding-right: 80px;
  padding-left: 15px;
  top: 140px;
  right: 0px;
  display: flex;
  flex-direction: column;
  background: linear-gradient(90deg, rgba(63, 44, 66, 0.7) 0.07%, rgba(63, 44, 66, 0) 96.95%);

  img {
    transform: scale(0.9);
  }
}

.filterBtn {
  margin: 5px auto 10px auto;
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 170px;
  height: 45px;
  border-radius: 50px;
  background: rgba(44, 34, 43, 0.9);
  &:hover { cursor: pointer; }
  span {
    background: -webkit-linear-gradient(#EDBE69, #AC7327);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
    font-size: 14px;
  }
}

.activeFilter {
  background: linear-gradient(180deg, #3C231C 0%, #725148 100%) !important;
  border: 2px solid #C1863A !important;
}

.sortDetails {
  background: #282520;
  border: 2px solid #928362;
  color: #fff;
  text-align: center;
  height: 90px;
  margin-top: -30px;
  padding-top: 40px;
}

.ghostRow {
  flex: 1;
  display: flex;
  align-items: center;
  color: #fff;
  width: 95%;
  height: 190px;
  border-radius: 6px;
  border-bottom: 5px solid #c76d55;
  margin-left: 10px;
  padding-right: 15px;
  padding-bottom: 60px;
  font-size: 14px;
}

.btnDetails {
  margin-right: -11px;
  transform: scale(0.9);
}

.ghostDetails,
.ghostResults {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.ghostResults {
  height: 90px;
  flex: 1;
}

.ghostResultsLife {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.ghostDetails {
  height: 90px;
  align-items: flex-end;
}

.progressBar {
  width: 150px;
  // background-color: #000;
}

.ghostImageContainer {
  position: relative;
  margin-right: 10px;
  margin-top: 25px;
  height: 100px;
  width: 100px;
}

.ghostImage {
  height: 100%;
  width: 100%;
  background-position: center !important;
  background-size: contain !important;
  background-repeat: no-repeat !important;
}

.ghostRarity {
  position: absolute;
  bottom: -10px;
  transform: scale(0.6);
}

.badgeStyle {
  position: absolute;
  width: 40px;
  z-index: 10;
  right: -5px;
  top: 2px;
}

.withdrawBadge,
.eliminatedBadge {
  position: absolute;
  left: 0px;
  background-image: linear-gradient(#ff7575, #ffff6b);
  color: #000;
  width: 95px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-size: 12px;
  height: 20px;
}

.eliminatedBadge {
  background-image: linear-gradient(#ff6d6d, #fd0d0d) !important;
}

.ghostLabelValue {
  margin-bottom: 2px;
}