@import "./src/assets/scss/config";

.container {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
}

.modal {
  position: relative;
  display: flex;
  padding: 50px 40px;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-image: url("#{$ASSETS_URL}/imgs/games/mahjong_1/home_screen/mydata_details_bg.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
}

.content {
  width: 100%;
}

.close {
  position: absolute;
  top: 25px;
  right: 15px;
  background-color: transparent;
  border: none;
  color: black;
  padding: 0;
}

.profilePicContainer {
  display: flex;
  justify-content: center;
}

.pic {
  background-image: url("#{$ASSETS_URL}/imgs/games/mahjong_1/home_screen/profile_pic_bg.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 103px;
  width: 103px;
  margin-right: 15px;
}

.nameContainer {
  font-weight: bold;
  margin-top: auto;
  margin-bottom: 5px;

  div {
    &:first-child {
      color: #2d64e1;
      font-size: 1.875rem;
    }
    &:last-child {
      color: #254b7e;
      font-size: 1.25rem;
    }
  }
}

.btnWrapper {
  margin-top: 35px;
  position: relative;
}

.btn {
  width: 140px;
  height: 60px;
  background-position-y: center;
}

.btnLabel {
  color: #2d64e1;
  font-weight: 700;
  font-size: 1.375rem;
}
