@import "./src/assets/scss/utils";

.container {
  min-width: 259px;
  min-height: 60px;

  display: flex;
  flex-direction: column;
}

.tilesWrapper {
  display: flex;
  flex-direction: column;

  > div:not(:first-of-type) {
    margin-top: 10px;
  }
}

.turnText {
  font-size: rem(24);
  font-weight: bold;
}

//tile size when max-width is 768px
$tileWidth: 49px;
$tileHeight: 76px;
.rowTiles {
  display: flex;
  img {
    &:not(:first-of-type) {
      margin-left: 5px;
    }

    @media (min-width: 320px) and (max-width: 425px) {
      width: calc(#{$tileWidth} - (#{$tileWidth} * (50 / 100)));
      height: calc(#{$tileHeight} - (#{$tileHeight} * (50 / 100)));
    }

    @media (min-width: 425px) and (max-width: 576px) {
      width: calc(#{$tileWidth} - (#{$tileWidth} * (30 / 100)));
      height: calc(#{$tileHeight} - (#{$tileHeight} * (30 / 100)));
    }

    @media (min-width: 576px) and (max-width: 768px) {
      width: $tileWidth;
      height: $tileHeight;
    }
  }
}
