@font-face{
    font-family: "OpenSans";
    src: url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
}

@font-face{
    font-family: "Roboto";
    src: url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
}

$primary-color: #161E2F;
$primary-lighter: #242D41;
$primary-darker: #0E141F;

$secondary-color: #1785EB; //sidebar & header text color

$text-primary-color: #79B9F4;
$sub-text-color: #6A81A4;

html{
    height: 100%;
    font-family: "Roboto";
}

body{
    color: $text-primary-color;
    height: 100%;
    background-color: $primary-color;
}

.coinica-button-primary{
    color: $secondary-color;
}

