.container {
  @media (max-width: 576px) {
    padding: 10px;
  }

  h6 {
    font-weight: bold;
    font-size: 1.125rem;
  }
}

.stepOne {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  margin-bottom: 5px;
  color: #9DC8EF;
}

.depositBtnContainer {
  width: 100%;
  text-align: center;
  border-top: 2px solid #405680;
  margin-top: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.walletBalance {
  background: #0E141F;
  padding: 1rem;
  margin-top: 15px;
}

.stepTwo {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  input {
    color: #ffffff;
  }
}

.numberCircle {
  width: 21px;
  height: 21px;
  display: inline-block;

  box-sizing: initial;
  border: 2px solid #000;

  color: #000;
  text-align: center;
  border-radius: 50%;
  box-sizing: content-box;
}

.stepThree {
  margin-top: 25px;
}

.copyCurrency,
.copyMemo,
.exchangeReceiveLabel,
.exchangeDepositLabel {
  font-size: 0.8125rem;
  font-weight: bold;
}

.labelCopy {
  margin-bottom: 8px;
}

.divider {
  margin-top: 40px;
  margin-bottom: 30px;
}

.modalDialogMemo_qrCode {
  max-width: 250px !important;

  @media (min-width: 0px) and (max-width: 576px) {
    max-width: 500px !important;
  }
}

.exchangeForm {
  display: flex;
  justify-content: space-between;

  @media (max-width: 575px) {
    flex-direction: column;
  }
}

.exchangeReceive,
.exchangeDeposit {
  flex: 1 0 45%;
  display: flex;
  flex-direction: column;
}

.exchangeDepositLabel {
  display: flex;
  justify-content: space-between;
}

.exchangeIcon {
  margin: auto 10px;
  align-items: center;
  font-size: 1.5rem;
  text-align: center;
}

.dropDownExchange {
  button {
    width: 100%;
  }
}

.depositFee,
.depositLimit {
  font-weight: normal;
}

.depositLimit {
  font-size: 0.8125rem;
  margin-top: 5px;
  span {
    &:first-child {
      margin-right: 25%;
    }
  }
}
