@import "./src/assets/scss/_utils";

.container {
  background-color: #242d41;
  padding: 22px 22px 22px 18px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.divider {
  background-color: #303c57;
  height: 2px;
  margin-top: 4px;
  margin-bottom: 4px;
}

.headerTitle {
  display: flex;
  flex-direction: row;

  > div {
    color: #52a4f0;
    font-size: rem(24);
    font-weight: 900;
    line-height: 28px;
  }

  img {
    margin-left: 10px;
    margin-top: -4px;
  }
}

.content {
  display: flex;
  justify-content: space-around;
  color: #9dc8ef;
  font-size: rem(14);
  height: 100%;
}

.text_right {
  text-align: right;
}
