.accountSettingsContainer {
  border-radius: 10px;
  height: 80%;
  margin-bottom: 5rem;
}

.settings_header{
  cursor: pointer;
}

.userInfoHeader{
  background-color: var(--bg-less-dark-color) !important;
  color: #fff !important;
  border-radius: 5px;
}
