.accountSettingsContainer {
  background: #242D41;
  border-radius: 5px;
  padding: 2rem;
  margin-bottom: 20px;
}

.userInfo {
  color: #52A4F0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.settingsContent {
  color: #52A4F0;
  display: flex;
  flex-direction: column;
  align-items: center;
  input {
    color: #427AAD;
  }
}

.settingsContent:not(:last-child) {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 2px solid #405680;
}

.subHeader {
  color: #52A4F0;
  margin-bottom: 20px !important;
}
