@import "./src/assets/scss/config";
@import "./src/assets/scss/utils";
@import "./src/assets/scss/mixin";

.container {
  width: 100%;
  height: 100%;
  position: relative;
}

.coverBg {
  overflow-x: hidden;
  position: relative;
  background-image: url("#{$ASSETS_URL}/imgs/games/mahjong_1/home_screen/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-color: rgba(0, 0, 0, 0.9);

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 150px;
    background: linear-gradient(
      360deg,
      rgba(13, 29, 86, 0.8) 8.42%,
      rgba(6, 21, 73, 0) 62.63%
    );
    z-index: 150;
  }
}

.girlBg {
  position: absolute;
  bottom: 0;
  top: 8%;
  left: 5%;
  height: 92%;
  z-index: 100;
}

.content {
  width: 100%;
  // height: 100%;
  max-width: 1800px;
  padding: 30px 50px;
  margin: 0 auto;
  z-index: 200;
  position: relative;
  display: flex;
  flex-direction: column;
}

.bgDiamondShape {
  cursor: pointer;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  height: 70px;
  width: 70px;
  border: none;
  background-color: transparent;
  background-image: url("#{$ASSETS_URL}/imgs/games/mahjong_1/home_screen/btn_bg_diamond.png");
  background-size: cover;

  font-size: rem(24);
  font-weight: 700;
  color: #fff;
  padding: 0;
  @include stroke(#0d356f, 2px);
}

.topButtonsWrapper {
  display: flex;
  justify-content: flex-end;
}

.bottomButtonsWrapper {
  button {
    &:not(last-child) {
      margin-right: 8px;
    }
  }
}

.startGameWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.startGameText {
  font-size: rem(24);
  font-weight: 800;
  @include stroke(#732709, 4px);
}

.btnGames {
  margin-right: 22px;
}

.logo {
  display: block;
  width: 421px;
  height: 306px;
}

.startGameBtnWrapper {
  display: flex;
  justify-content: center;
}

.startGameBtn {
  background-image: linear-gradient(
    270.19deg,
    rgba(58, 60, 132, 0.08) -0.17%,
    rgba(58, 60, 132, 0.8) 24.22%,
    rgba(90, 94, 239, 0.8) 47.58%,
    rgba(58, 60, 132, 0.8) 74.57%,
    rgba(58, 60, 132, 0.08) 97.41%
  );
  background-color: transparent;
  width: 339px;
  height: 51px;
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
}

.mj_3_button {
  cursor: pointer;
  background-size: contain;
  width: 106px;
  height: 44px;
  background-color: transparent;
  border: none;

  background-image: url("#{$ASSETS_URL}/imgs/games/mahjong_1/home_screen/btn_bg_rect.png");
  background-repeat: no-repeat;

  font-size: rem(14);
  font-weight: 700;
  color: #fff;
  @include stroke(#2b2e7e, 1px);

  display: inline-flex;
  justify-content: space-evenly;
  align-items: center;
}

.mj_button:active {
  transform: scale(0.9);
}
