.container {
  @media (max-width: 576px) {
    padding: 10px;
  }

  h6 {
    font-weight: bold;
    font-size: 1.125rem;
  }
}

.stepOne, .stepTwo {
  margin-top: 10px;
  display: flex;
  input {
    color: #ffffff;
  }
}

.stepTwo {
  margin-bottom: 15px;
}

.dropDownCurrency {
  margin-top: 15px;
}

.numberCircle {
  width: 1.125em;
  height: 1.125em;
  display: inline-block;

  box-sizing: initial;
  border: 2px solid #000;

  color: #000;
  text-align: center;
  border-radius: 50%;
  box-sizing: content-box;
}

.iconQuestion {
  svg {
    margin-right: 4px;
    font-size: 1.125rem;
  }
}

.formContainer {
  label {
    font-size: 0.8125rem;
    font-weight: bold;
  }
}

.currency {
  text-transform: uppercase;
}

.asterisk {
  &::after {
    content: "*";
    display: inline-block;
    color: red;
    margin-left: 5px;
  }
}

.noMemo {
  float: right;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;

  label {
    margin-bottom: 0;
  }

  input[type="checkbox"] {
    margin-right: 7px;
  }
}

.withdrawBtnContainer {
  width: 100%;
  text-align: center;
  border-top: 2px solid #405680;
  margin-top: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
}
