.container {
  z-index: 1300 !important;
  color: #fff !important;
  top: unset !important;
  right: unset !important;
  bottom: unset !important;
  left: unset !important;
  width: 100% !important;
  height: 100% !important;
  // background-color: rgba(0, 0, 0, 0.25) !important;
}

.paddingRight {
  // padding-right: 25%;
}
