.treasurehunt-result-modal {
  font-family: "Piedra", cursive;

  .modal-content {
    background: transparent;
    border: 0px;
  }

  @media (max-width: 768px) {
    .modal-body {
      zoom: 0.7
    }
  }

  @media (max-width: 400px) {
    .modal-body {
      zoom: 0.5
    }
  }

  @keyframes animate {
    0% {
      box-shadow: 0px -1px 30px 10px rgba(255,242,0,1),
                  0px -1px 30px 15px rgba(255,242,0,.5)
    }
    25% {
      box-shadow: 0px -1px 30px 11px rgba(255,242,0,1),
                  0px -1px 30px 16px rgba(255,242,0,.5)
    }
    50% {
      box-shadow: 0px -1px 30px 12px rgba(255,242,0,1)
    }
    75% {
      box-shadow: 0px -1px 30px 13px rgba(255,242,0,1)
    }
    100% {
      box-shadow: 0px -1px 30px 14px rgba(255,242,0,1)
    }
  }

  .modal-body {
    padding: 5px !important;

    .body-content {
      min-height: 300px;
      height: 100%;
      display: flex;
      justify-content: center;

      .result-miss {
        height: 100%;
      }
    }
  }

  .eos-amount {
    text-align: center;
    padding-right: 30px;
    padding-bottom: 15px;
    color: red;
  }
  
  .open-chest {
    padding-top: 2px;
    font-size: 15px;
  }
  
  .socmed-buttons {
    margin-top: -70px;
    width: 30%;
  }
}
