@import "/src/assets/scss/colors.scss";


.modal{
    overflow-x: hidden;
    overflow-y: scroll;
}

.modal_content{
    @media (max-width: 425px) {
        width: 100%;
        margin: 0 0 0 0;
    }
    width: 480px;
    // display: flex;
    align-items: center;
    justify-content: center;
    margin: 3% auto 3% auto;
    background-color: $primary-lighter;
    border-radius: 1px;
}

.logo{
    width: 192px;
}

.logo_container{
    text-align: center;
}

.appbar{
    margin-top: 50px;
    box-shadow: none;
}

.tab{
    color: #40567F;
    font-weight: bold;
}