@import "./src/assets/scss/config";

$paddingY: 20px;
$paddingX: 10px;

.container {
  width: 387px;
  min-height: 306px;
  background-color: rgba(0, 0, 0, 0.53);
  border-radius: 5px;
  padding: $paddingY $paddingX;

  display: flex;
  @media (max-width: 768px) {
    width: 100%;
    // height: auto;
    flex-direction: column;
  }
}

.autoPlayWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 52%;

  @media (max-width: 768px) {
    width: 100%;
    flex-direction: row;
  }
}

.tiles {
  margin-top: calc(69px - #{$paddingY});
  display: flex;
  justify-content: space-between;

  @media (max-width: 768px) {
    margin-top: 20px !important;
    width: 65%;
    justify-content: flex-start;
  }

  img {
    @media (max-width: 425px) {
      width: 45% !important;
      height: auto !important;
    }
    @media (max-width: 768px) {
      width: 32%;
      height: 220px;
      &:first-of-type {
        margin-right: 20px;
      }
    }
  }
}

.btnAutoPlayWrapper {
  @media (max-width: 768px) {
    display: flex;
    justify-content: center;
    width: 35%;
  }
}

.btnAutoPlay {
  @media (max-width: 425px) {
    width: 65px !important;
    height: 65px !important;
    margin-bottom: 40px !important;
  }
  @media (max-width: 768px) {
    align-self: flex-end;
    background-image: url("#{$ASSETS_URL}/imgs/games/mahjong_1/gameplay/btn_bg_white_circle.png");
    background-position-x: center;
    height: 93px;
    width: 93px;
    margin-bottom: 20px;
  }
}

.btnAutoPlayLabel {
  font-weight: bold;
  font-size: 0.875rem;
  color: #fff;

  @media (max-width: 768px) {
    align-items: center;
  }
}

.hiLoDrawWrapper {
  width: 48%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  @media (max-width: 425px) {
    > div {
      height: auto !important;
    }
  }

  @media (max-width: 768px) {
    width: 100%;
    flex-direction: row-reverse;
    justify-content: center;
    margin-top: 40px;

    > div {
      width: calc(33.333% - 5px);
      height: 86px;
      background-size: 100% 99.99%;
    }
  }
}

.btnHigh,
.btnDraw,
.btnLow {
  @media (max-width: 768px) {
    width: 33.33%;
    background-size: 100% 99.99%;
  }
}

.btnHigh {
  padding: 5px;
  img {
    margin-top: -5px;
  }
}

.btnDraw {
  padding: 5px;
  margin: 10px 0px;

  @media (max-width: 425px) {
    margin: 0px 5px !important;
  }
  @media (max-width: 768px) {
    margin: 0px 20px;
  }
}

.btnLow {
  padding: 5px;
  img {
    margin-top: 5px;
    transform: rotate(180deg);
  }
}
